
.progressbar{
    position: relative;
    margin-bottom: 28px;
}
.progressbar::after{
    content: "";
    position: absolute;
    background-color: $secondary;
    height: 2px;
    width: 100%;
    top: 0;
    left: 0;

}
.point{
    position: relative;
    padding-top: 12px;
}
.point::after{
    content: "";
    position: absolute;
    background-color: $white;
    border: 1px solid $secondary;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.point-active::after{
    content: "";
    position: absolute;
    background-color: $secondary;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top:0;
    left: 50%;
    transform: translate(-50%,-50%);
}


@include pad{
    .progressbar{
        h3{
            font-size: $h7-font-size;
        }
    }
}