//  卷軸樣式 

 /* width */
 ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary;
  }
//   隱藏滾動條
.scroll-hide{
    &::-webkit-scrollbar {
        display: none;
    }

}
  


.mailbox{
  width: 350px;
}


.fblink-mobile{
  width: 20px;
  height: 20px;
}

//邊框
.border-r{
    border:0;
}

.border-md-r{
    @include pad{
        border-right: 1px solid $dark;
    }   
} 
// 購物車預覽圖片
.cartpreview-img{
    width: 120px;
    height: 120px;
}


.offcanvas-end{
  top:96px;
}

// 台味設計展藝饗宴圖片高度
.h-559{
  height: 559px;
}
